@charset "utf-8";

@font-face
{
	font-family: "typicons";
	src: url("typicons-selected.woff") format("woff");
}

*
{
	margin: 0;
	padding: 0;
}

html {height: 100%;}

body
{
	height: 100%;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

div#container
{
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

hr {display: none;}

a, a:visited
{
	text-decoration: none;
	color: inherit;
}
a:hover {color: #666;}

pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}


ul.tags li {display: inline-block;}
ul.tags li:before {content: " / ";}
ul.tags li:first-child:before {content: "";}

div#title
{
	position: relative;
	z-index: 10;
	width: 100%;
	max-width: 800px;
	height: 210px;
	margin: 0 auto -120px;
	padding: 0 0 120px 0;
	background-image: url("./title.svgz");
	background-repeat: no-repeat;
	background-position: 51% 30px;
}

div#menu
{
	height: 120px;
	color: white;
	background-color: black;
}

div#menu ul.tags
{
	position: relative;
	z-index: 12;
	width: 50%;
	max-width: 400px;
	height: 120px;
	padding: 0 0 0 400px; /* TODO: もうちょっとちゃんと*/
	margin: 0 auto;
}

div#title h1 {display: none;}

div#main
{
	max-width: 800px;
	width: 100%;
	min-height: 100%;
	padding: 0 0 100px 0;
	margin: 0 auto;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: white;
	background-color: black;
}

footer > div
{
	width: 800px;
	margin: auto;
}

address
{
	text-align: right;
	font-style: normal;
}

article
{
	margin: 4ex 0 8ex 0;
	font-size: 82%;
}

article > p, article > ul, article > ol
{
	line-height: 170%;
}

article h1
{
	font-weight: bold;
	border-bottom: 1px solid black;
}

article h1, article h2, article h3, article h4, article h5, article h6
{
	margin: 2ex 0 0 0 ;
}
article h1 + p, article h2 + p, article h3 + p, article h4 + p, article h5 + p, article h6 + p
{
	margin-top: 0;
}

article h1
{
	margin: 0;
	font-size: 28pt;
	line-height: 40px;
}

article p, article blockquote
{
	margin: 1ex 0;
	text-align: justify;
	text-justify: inter-ideograph;
}

article blockquote
{
	padding: 0 calc(2em - 4px);
	margin-left: 1px;
	border-left: 3px solid #ccc;
}

article code
{
	margin: 0 0.4em;
	padding: 0.5ex 0.5em;
	background-color: black;
	border-radius: 3px;
	line-height: 170%;
	color: white;
}

article code.hljs
{
	line-height: 110%;
	padding: 1em;
	margin: 1ex 0.5em;
	border-radius: 1em;
}

article ul, article ol
{
	padding: 0 0 0 2em;
}

article > ul, article > ol, blockquote > ul, blockquote > ol
{
	margin: 1ex 0;
}

aside.tags, aside.timestamps {font-size: small;}

aside.tags > ul
{
	padding: 0;
}

/*aside.timestamps {float: left;}*/

/*aside.tags {text-align:right;}*/

/*aside.tags:after {clear:both;}*/

h1 {font-family: "Hiragino Mincho ProN W3", YuMincho, "游明朝", "HGS明朝E", Meiryo;}
aside.tags, aside.timestamps, address {font-family: Georgia, "Hiragino Mincho ProN W3", YuMincho, "游明朝", Meiryo, serif;}
code {font-family: Ricty, Consolas, Monaco, "Courier New", monospace;}



/* forms */
input[type=text],
input[type=password],
textarea
{
	background-color: #fff;
	border: 1px solid #aaa;
	line-height: 20px;
	font-family: monospace;
	width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {background-color: #eee;}

input[type=checkbox] {vertical-align: middle;}

input[type=submit],
input[type=reset],
input[type=button]
{
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	line-height: 20px;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover
{
	background-color: #eee;
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active
{
	background-color: #ddd;
}

input[type=button][disabled=disabled]
{
	background-color: #fff;
	border-color: #eee;
	color: #ddd;
}


