@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:700&text=01234567890);

@font-face
{
	font-family: typicons;
	src: url("typicons-selected.woff") format("woff");
}

.typicons {font-family: typicons;}

*
{
	margin: 0;
	padding: 0;
}

html {height: 100%;}

body
{
	height: 100%;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

div#container
{
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

.hidden {display: none;}

hr {display: none;}

a, a:visited
{
	text-decoration: none;
	color: inherit;
}
a:hover {color: #666;}

a:focus {outline: none;}

pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}


ul.tags li {display: inline-block;}
ul.tags li:before {content: " / ";}
ul.tags li:first-child:before {content: "";}
ul.tags:before
{
	font-family: typicons;
	content: "\e805";
}

div#title
{
	position: relative;
	z-index: 10;
	height: 210px;
	margin: 0 auto -120px;
	padding-bottom: 120px;
	background-image: url("./title.svgz");
	background-repeat: no-repeat;
	background-position: 51% 30px;
}

.bound
{
	position: relative;
	height: 100%;
	width: calc(100% - 32px);
	max-width: 800px;
	margin: 0 auto;
	padding: 0 16px;
}

div#menu
{
	height: 120px;
	color: white;
	background-color: black;
}

div#menu ul.tags
{
	position: relative;
	width: 62%;
	top: calc(50% - 1.25ex);
	z-index: 12;
	margin-left: 38%;
	text-align: right;
}
div#menu ul.tags:after {clear: both;}

form#search
{
	position: relative;
	z-index: 12;
	width: 18%;
	top: calc(50% - 1.25ex);
	float: left;
}

nav.bound > a
{
	position: relative;
	z-index: 12;
	top: calc(50% - 1.25ex);
	float: left;
	margin-left: 1em;
	font-size: 120%;
	line-height: 140%;
}

div#title h1
{
	position: relative;
	display: block;
	width: 400px;
	height: 180px;
	margin: 0 auto;
	padding-top: 30px;
	z-index: 12;
}

div#title h1 a
{
	display: block;
	width: 100%;
	height: 100%;
}

div#main
{
	min-height: 100%;
	padding-bottom: 100px;
	margin: 0 auto;
}

aside#info ul
{
	margin: 2ex 0;
	padding: 1ex 1em;
	border: 1px solid black;
}

aside#info ul li
{
	margin-left: 1em;
	font-size: small;
}
aside#info ul li.warn {color: red;}

nav#prev-next ul
{
	margin: 4ex auto;
	text-align: center;
}

nav#prev-next ul li
{
	display: inline-block;
}
nav#prev-next ul li:last-child:before
{
	content: " /";
	margin: 0 1em 0 0.8em;
}
nav#prev-next ul li:first-child:before
{
	content: "";
	margin: 0;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: white;
	background-color: black;
}

footer > div
{
	width: 800px;
	margin: auto;
}

article
{
	margin: 4ex 0 8ex 0;
	font-size: 82%;
}

article > p, article > ul, article > ol
{
	line-height: 170%;
}

article h1
{
	font-weight: bold;
	border-bottom: 1px solid black;
}

article h1, article h2, article h3, article h4, article h5, article h6
{
	margin: 2ex 0 0 0 ;
}
article h1 + p, article h2 + p, article h3 + p, article h4 + p, article h5 + p, article h6 + p
{
	margin-top: 0;
}

article h1
{
	margin: 0;
	font-size: 28pt;
	line-height: 40px;
}

article > p, article > ul, article > ol, article > blockquote, article > pre
{
	margin: 1.5ex 0;
}

article p, article blockquote
{
	text-align: justify;
	text-justify: inter-ideograph;
}

article blockquote
{
	padding: 0 calc(2em - 4px);
	margin-left: 1px;
	border-left: 3px solid #ccc;
}

article code
{
	margin: 0 0.4em;
	padding: 0.5ex 0.5em;
	background-color: black;
	border-radius: 3px;
	line-height: 170%;
	color: white;
}

article code.hljs
{
	line-height: 110%;
	padding: 1em;
	margin: 1ex 0.5em;
	border-radius: 1em;
}

article ul, article ol
{
	padding: 0 0 0 2em;
}

article > ul, article > ol, blockquote > ul, blockquote > ol
{
	margin: 1ex 0;
}


aside.tags > ul
{
	padding: 0;
}

aside.timestamps:before
{
	font-family: typicons;
	content: "\e81a";
	margin-right: 0.1em;
}


h1 {font-family: "Hiragino Mincho ProN W3", YuMincho, "游明朝", "MS Mincho", Meiryo;}
.tags, nav#prev-next, aside.timestamps, address, p.autopagerize_page_info {font-family: Georgia, "Hiragino Mincho ProN W3", YuMincho, "游明朝", Meiryo, serif;}
code {font-family: Ricty, Consolas, Monaco, "Courier New", monospace;}



/* forms */
input[type=text],
input[type=password],
textarea
{
	background-color: #fff;
	border: 1px solid #aaa;
	line-height: 20px;
	font-family: monospace;
	width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {background-color: #eee;}

input[type=checkbox] {vertical-align: middle;}

input[type=submit],
input[type=reset],
input[type=button]
{
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	line-height: 20px;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover
{
	background-color: #eee;
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active
{
	background-color: #ddd;
}

input[type=button][disabled=disabled]
{
	background-color: #fff;
	border-color: #eee;
	color: #ddd;
}

form#search > input[type=text]
{
	width: 140px;
	max-width: calc(100% - 25px);
}
form#search > input[type=submit]
{
	margin: 0 -3px 0 6px;
	padding: 0;
	color: white;
	background-color: transparent;
	border: none;
	font-family: typicons;
	font-size: 120%;
	cursor: pointer;
}

form#search > input[type=submit]:hover
{
	color: #666;
}

address
{
	position: relative;
	z-index: 10;
	top: calc(50% - 1.25ex);
	font-style: normal;
	text-align: center;
}

a#cc0banner
{
	display: block;
	position: absolute;
	top: calc(50% - 15px);
	right: 20px;
	width: 88px;
	height: 31px;
	z-index: 12;
}

a#twitter
{
	display: block;
	position: absolute;
	top: calc(50% - 20px);
	left: 20px;
	width: 41px;
	height: 41px;
	z-index: 12;
}

a#twitter img
{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 3px solid white;
}

div.error h1
{
	margin-top: 80px;
	font-size: 120px;
	text-align: center;
	font-family: "Libre Baskerville", serif;
}
div.error p
{
	margin-bottom: 100px;
	font-size: small;
	text-align: center;
}

p.autopagerize_page_info
{
	text-align: center;
}
