# このファイルに使われている文字コードがUTF-8Nであることは確定的に明らか

<Files ~ "^config\.yml.*$">
       deny from all
</Files>
<Files ~ "^.*\.inc\.php$">
       deny from all
</Files>
<Files ~ "^.*\.class\.php$">
       deny from all
</Files>
<Files ~ "^composer.*$">
       deny from all
</Files>

# turn off magic_quotes
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off

# 消してリライトして
RewriteEngine On

# リダイレクトする子たち
RewriteRule	^login$					?mode=login			[L]
RewriteRule	^admin/create$	?admin=1&mode=create		[L]
RewriteRule	^admin/update$	?admin=1&mode=update		[L]
RewriteRule	^admin/delete$	?admin=1&mode=delete		[L]
RewriteRule	^admin/update_config$	?admin=1&mode=update_config		[L]
RewriteRule	^admin/logout$	?admin=1&mode=logout		[L]

# 管理画面
RewriteRule	^admin/?$				?admin=1								[L]
RewriteRule	^admin/new$			?admin=1&mode=new				[L]
RewriteRule	^admin/edit/([1-9][0-9]*)$		?admin=1&mode=edit&id=$1		[L]
RewriteRule	^admin/tag/([1-9][0-9]*)$			?admin=1&mode=tag&tagid=$1	[L]
RewriteRule	^admin/config$	?admin=1&mode=config		[L]

# そのほかのページ
RewriteRule	^atom$				?mode=atom							[QSA] # page

# 記事
RewriteRule	^([1-9][0-9]*)$			?id=$1							[L]
RewriteRule	^tag/([1-9][0-9]*)$	?tagid=$1						[QSA] # page

