{% extends "layout.twig" %}

{% block title %}admin - {{ parent() }}{% endblock %}

{% block contents %}
<article>
	<header>
		<h1>admin</h1>
	</header>
	<p>
		なんらかの管理ページです。
	</p>
	<ul>
		<li>日記の投稿</li>
	</ul>
</article>
{% endblock %}
