<div class="article">
	<h2>{{article.title|e}}</h2>
	<div class="timestamps">
		<span class="posted-at">{{article.created_at|date}}</span>
	</div>
	{% include "tags.twig" with {tags: article.tags} %}
	{{article.text|markdown|raw}}
</div>
