<div class="article">
	<h2>{{article.title|e}}</h2>
	<div class="timestamps">
		<span class="posted-at">{{article.created_at|date}}</span>
	</div>
	<ul class="tags">
	</ul>
	{{article.text|parsedown|raw}}
</div>
