{% extends "layout.twig" %}

{% block title %}{{ parent() }} - admin{% endblock %}

{% block contents %}
<article>
	<header>
		<h1>admin</h1>
	</header>
	<p>
		なんらかの管理ページです。
	</p>
	<ul>
		<li><a href="./admin/new" title="記事の投稿">記事の投稿</a></li>
	</ul>
</article>
{% endblock %}
